.login {
    background-color: #61dafb;
}

.login-logo {
    position: absolute;
    width: 192px;
    height: 49px;
    left: 156px;
    top: 29px;
}

.login-header {
    position: relative;
    width: 100%;
    height: 106px;
    background: #FFFFFF;
}

.login-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: #EF5734;
    height: 90vh;
}

.login-form {
    position: relative;
    width: 360px;
    height: 563px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 60px 60px;
    padding: 24px 30px;
}

.login-img-content {
    width: 552px;
    height: 139px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

.login-form label {
    display: block;
}

.login-label {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 49px;
    height: 27px;
    margin-bottom: 60px;
}

.label-input {
    margin-bottom: 9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}

.label-input-text {
    width: 44px;
    height: 24px;
}

.label-input-password {
    width: 79px;
    height: 24px;
}

.form-input {
    display: block;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    margin-bottom: 21px;
}

.form-button-login {
    width: 100%;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background: #BDBDBD;
    border-radius: 6px;
    border: 1px solid #BDBDBD;
}

.login-lewati {
    position: absolute;
    width: 84%;
    bottom: 16px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #EF5734;
}

.error-message {
    width: 100%;
    height: 58px;
    color: white;
    background: black;
    flex-direction: row;
    margin-bottom: 10px;
}

.error-label {
    flex-direction: row
}

.error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px 6px 16px;

    position: absolute;
    width: 328px;
    height: 58px;
    left: calc(50% - 328px/2);
    bottom: 428px;
    margin-bottom: 23px;
    /* flex-direction: column; */

    /* 00. On Surface / High Emphasis */

    background: rgba(0, 0, 0, 0.87);
    /* 04 dp */

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-oke {
    position: static;
    height: 16px;
    left: 8px;
    right: 8px;
    top: calc(50% - 16px/2);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    /* 01. Primary/200 */

    color: #BB86FC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.dalem {
    /* flex-direction:row; */
    display: flex;
    flex-direction: row;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-error {
    background-color: black;
    height: 70px;
    align-items: center;
    text-align: left;
    justify-items: center;
    padding: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 16px; */
    color: white;
}

.label-ok {
    color: #BB86FC;
}

.label-error {
    color: white;
}

.label-error-alert {
    color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}